@model RegisterForm

<h2>Vul je gegevens in</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordRepeat" class="control-label"></label>
        <input asp-for="PasswordRepeat" class="form-control" type="password" />
        <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>


<h2>Log in</h2>
<a href="@Url.Action("Login", "Auth", new { returnUrl = Url.Action("Authenticate", "Klant") })">Log in</a>
